.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color:black;
    display: flex;
    &.menu{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &.search{
       justify-content: center;
       align-items: center; 
    }
    &.video{
        align-items: center;
    }
}